<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="{{ navigation.home|e }}">{{ navigation.author|e }}</a></h1>
			<nav id="nav">
				<ul>
					{% for page in navigation.pages %}
					<li>
						<a href="{{ page.link|e }}">{{ page.name|e }}</a>
						{% if page.pages %}
							<ul>
								{% for subpage in page.pages %}
								<li>
									<a href="{{ subpage.link|e }}">{{ subpage.name|e }}</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>
		<!-- End Header -->

		<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>{{ title }}</h2>
					</header>

					<!-- Research Gallery -->
					<section>
					</section>
					<!-- End Research Gallery -->

				</div>
			</div>
		<!-- End Main -->

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				{% for way in contacts %}
				<li><a href="{{ way.link|e }}" class="{{ way.class|e }}"><span class="label">{{ way.name|e }}</span></a></li>
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; Don Willcox. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>
		<!-- End Footer -->

		</div>

		<!-- Scripts -->
		{% for script in scripts %}
		<script src="{{ script.link|e }}"></script>
		{% endfor %}
		<!-- End Scripts -->
	</body>
</html>