<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	
	With extensive modifications by D. E. Willcox
-->
<html>

	<head>
		<title>{{ title|e }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>

	<body class="is-preload">

		<!-- Header -->

			<section id="header">

				<header>
					<span class="image avatar"><img src="source/willcox_lbl_hs.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">{{ author|e }}</a></h1>
				</header>

				<nav id="nav">
					<ul>
					{% for sequence in Sequences %}
					{% for scene in sequence.Scenes %}
						{% if loop.index == 1 %}
							<li><a href="#s{{ loop.index }}" class="active">{{ scene.glance|e }}</a></li>
						{% else %}
							<li><a href="#s{{ loop.index }}">{{ scene.glance|e }}</a></li>
						{% endif %}
					{% endfor %}
					{% endfor %}
					</ul>
				</nav>

				<footer>

					<!-- Contact Icons -->
					<ul class="icons">
						{% for way in contacts %}
						<li><a href="{{ way.link|e }}" class="{{ way.class|e }}"><span class="label">{{ way.name|e }}</span></a></li>
						{% endfor %}
					</ul>
					<!-- End Contact Icons -->

					<!-- Copyright Notice -->
					<ul class="icons">
						<li>&copy; {{ author|e }}. All rights reserved.</li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
					<!-- End Copyright Notice -->

				</footer>

			</section>
		<!-- End Header -->

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						{% for sequence in Sequences %}
						{% for scene in sequence.Scenes %}

							<section id="s{{ loop.index }}" style="height: 100vh" class="flex col auto">

								{% set scene_flex = "flex grow1 shrink1 auto" %}
								{% set scene_scroll = "scrollbar" %}

								{% if loop.index > 1 %}
									<a href="#s{{ loop.index - 1 }}" class="fas fa-angle-double-left goto-prev-fa scrolly"></a>
								{% endif %}

								{% if scene.title is defined %}
									<header class="major align-center">
										{% if scene.title is defined %}
											<h2>
												<a href="#s{{ loop.index }}" class="scrolly">
													{{ scene.title }}
												</a>
											</h2>
										{% endif %}
									</header>
								{% endif %}

								{% if loop.revindex > 1 %}
									<a href="#s{{ loop.index + 1 }}" class="fas fa-angle-double-right goto-next-fa scrolly"></a>
								{% endif %}

								<div class="container align-top align-center max {{ scene_flex }} {{ scene_scroll }} col">

									{% if scene.subtitle is defined %}
										<header class="major align-top align-center">
											{% if scene.subtitle is defined %}
												<h3>{{ scene.subtitle }}</h3>
											{% endif %}
										</header>
									{% endif %}
								
									{% for entry in scene.content.entries %}

										<div class="container max {{ scene_flex }} col">

											{% if entry.class == "ParallelSet" %}

												<div class="features {{ scene_flex }} row wrap space-around">

													{% for sentry in entry.entries %}

														<article class="inner {{ scene_flex }} col">

															{% if sentry.attributes.name is defined %}
																<h3>{{ sentry.attributes.name }}</h3>
															{% endif %}
															
															<div class="{{ scene_flex }} col">

																{% for xobj in sentry.entries %}

																	{% if xobj.class=="Text" %}
																		<div class="{{ scene_flex }} col">
																			{{ xobj.attributes.content }}
																		</div>
																	{% endif %}

																	{% if xobj.class=="Figure" %}
																		<div class="{{ scene_flex }} col">
																			<img class="image" src="{{ xobj.attributes.relpath }}" alt="{{ xobj.attributes.caption }}"/>

																			{% if xobj.attributes.title is defined %}
																				<h4>{{ xobj.attributes.title }}</h4>
																			{% endif %}

																			{% if xobj.attributes.caption is defined %}
																				{{ xobj.attributes.caption }}
																			{% endif %}
																		</div>
																	{% endif %}

																{% endfor %}

															</div>

														</article>

													{% endfor %}

												</div>

											{% else %}

												{% if entry.class=="Text" %}
													<div class="{{ scene_flex }} col">
														{{ entry.attributes.content }}
													</div>
												{% endif %}

												{% if entry.class=="Figure" %}
													<div class="{{ scene_flex }} col">
														<a href="#" class="image">
															<img src="{{ entry.attributes.relpath }}" alt="{{ entry.attributes.caption }}"/>
														</a>

														{% if entry.attributes.title is defined %}
															<h4>{{ entry.attributes.title }}</h4>
														{% endif %}

														{% if entry.attributes.caption is defined %}
															{{ entry.attributes.caption }}
														{% endif %}
													</div>
												{% endif %}

											{% endif %}

										</div>

									{% endfor %}

								</div>

							</section>

						{% endfor %}
						{% endfor %}

					</div>
				<!-- End Main -->

			</div>
		<!-- End Wrapper -->

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		<!-- End Scripts -->

	</body>
</html>