<!DOCTYPE HTML>
<!--
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ title|e }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/willcox_lbl_hs.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">{{ author|e }}</a></h1>
				</header>
				<nav id="nav">
					<ul>
					{% for scene in sequence %}
						{% if loop.index == 1 %}
							<li><a href="#s{{ loop.index }}" class="active">{{ scene.glance|e }}</a></li>
						{% else %}
							<li><a href="#s{{ loop.index }}">{{ scene.glance|e }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						{% for way in contacts %}
						<li><a href="{{ way.link|e }}" class="{{ way.class|e }}"><span class="label">{{ way.name|e }}</span></a></li>
						{% endfor %}
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<!--
						Top/Serial/Parallel/Serial

						for entry in scene.content.entries:
							if class != ParallelSet:
								// put entry in a serial div
							else:
								for serial_entry in entry.entries:
									// put serial_entry in a parallel div
									for e in serial_entry.entries:
										// put e in a serial div
										
						At the moment the problem is too many scrollbars.

						Every container that overflows scrolls instead of the whole page.

						Also, getting the rows to work is harder than I thought, might need Grid or something like that ...
						-->
						{% for scene in sequence %}

							<section id="s{{ loop.index }}" style="height: 100vh" class="flex col auto">

								{% set scene_flex = "flex grow1 shrink1 auto" %}
								{% set scene_scroll = "scrollbar" %}

								{% if loop.index > 1 %}
									<a href="#s{{ loop.index - 1 }}" class="fas fa-arrow-up goto-prev-fa scrolly"></a>
								{% endif %}

								{% if loop.revindex > 1 %}
									<a href="#s{{ loop.index + 1 }}" class="fas fa-arrow-down goto-next-fa scrolly"></a>
								{% endif %}

								{% if scene.title is defined %}
									<header class="major align-top align-center">
										{% if scene.title is defined %}
											<h2>
												<a href="#s{{ loop.index }}" class="scrolly">
													{{ scene.title }}
												</a>
											</h2>
										{% endif %}
									</header>
								{% endif %}

								<div class="container align-top align-center max {{ scene_flex }} {{ scene_scroll }} col">

									{% if scene.subtitle is defined %}
										<header class="major align-top align-center">
											{% if scene.subtitle is defined %}
												<h3>{{ scene.subtitle }}</h3>
											{% endif %}
										</header>
									{% endif %}
								
									{% for entry in scene.content.entries %}

										<div class="container max {{ scene_flex }} col">

											{% if entry.class == "ParallelSet" %}

												<div class="features {{ scene_flex }} row wrap space-around">

													{% for sentry in entry.entries %}

														<article class="inner {{ scene_flex }} col">

															{% if sentry.attributes.name is defined %}
																<h3>{{ sentry.attributes.name }}</h3>
															{% endif %}
															
															<div class="{{ scene_flex }} col">

																{% for xobj in sentry.entries %}

																	{% if xobj.class=="Text" %}
																		<div class="{{ scene_flex }} col">
																			{{ xobj.attributes.content }}
																		</div>
																	{% endif %}

																	{% if xobj.class=="Figure" %}
																		<div class="{{ scene_flex }} col">
																			<img class="image" src="{{ xobj.attributes.relpath }}" alt="{{ xobj.attributes.caption }}"/>

																			{% if xobj.attributes.title is defined %}
																				<h4>{{ xobj.attributes.title }}</h4>
																			{% endif %}

																			{% if xobj.attributes.caption is defined %}
																				{{ xobj.attributes.caption }}
																			{% endif %}
																		</div>
																	{% endif %}

																{% endfor %}

															</div>

														</article>

													{% endfor %}

												</div>

											{% else %}

												{% if entry.class=="Text" %}
													<div class="{{ scene_flex }} col">
														{{ entry.attributes.content }}
													</div>
												{% endif %}

												{% if entry.class=="Figure" %}
													<div class="{{ scene_flex }} col">
														<a href="#" class="image">
															<img src="{{ entry.attributes.relpath }}" alt="{{ entry.attributes.caption }}"/>
														</a>

														{% if entry.attributes.title is defined %}
															<h4>{{ entry.attributes.title }}</h4>
														{% endif %}

														{% if entry.attributes.caption is defined %}
															{{ entry.attributes.caption }}
														{% endif %}
													</div>
												{% endif %}

											{% endif %}

										</div>

									{% endfor %}

								</div>

							</section>

						{% endfor %}

						<!-- One -->
							<section id="section1" style="height: 100vh" class="flexcol">
								<div class="container">
									<header class="major container align-top align-center">
										<h2>Read Only</h2>

										<p>Just an incredibly simple responsive site<br />
										template freebie by <a href="http://html5up.net">HTML5 UP</a>.</p>
									</header>
								</div>
								<a href="#section2" class="fas fa-arrow-down goto-next-fa scrolly"></a>
							</section>

						<!-- Two -->
							<section id="section2" style="height: 100vh" class="flexcol">
								<a href="#section1" class="fas fa-arrow-up goto-prev-fa scrolly"></a>

								<div>
									<header class="major container align-top align-center">
										<h2>Things I Can Do</h2>
										<p>
											I can do many things. Some of them even well.
										</p>
									</header>
								</div>

								<div class="container">
									<ul class="feature-icons">
										<li class="icon solid fa-code">Write all the code</li>
										<li class="icon solid fa-cubes">Stack small boxes</li>
										<li class="icon solid fa-book">Read books and stuff</li>
										<li class="icon solid fa-coffee">Drink much coffee</li>
										<li class="icon solid fa-bolt">Lightning bolt</li>
										<li class="icon solid fa-users">Shadow clone technique</li>
									</ul>
								</div>

								<div class="container">
									<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
								</div>

								<a href="#section3" class="fas fa-arrow-down goto-next-fa scrolly"></a>
							</section>

						<!-- Three -->
							<section id="section3" style="height: 100vh" class="flexcol">
								<a href="#section2" class="fas fa-arrow-up goto-prev-fa scrolly"></a>
								<div class="container">
									<header class="major container align-top align-center">
										<h2>A Few Accomplishments</h2>
										<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
									</header>

									<div class="container features">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<div class="inner">
												<h4>Possibly broke spacetime</h4>
												<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<div class="inner">
												<h4>Terraformed a small moon</h4>
												<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
											</div>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<div class="inner">
												<h4>Snapped dark matter in the wild</h4>
												<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
											</div>
										</article>
									</div>
								</div>
								<a href="#section4" class="fas fa-arrow-down goto-next-fa scrolly"></a>
							</section>

						<!-- Four -->
							<section id="section4" style="height: 100vh" class="flexcol">
								<a href="#section3" class="fas fa-arrow-up goto-prev-fa scrolly"></a>
								<div class="fxg2">
									<header class="major container align-top align-center">
										<h2>Credits</h2>
									</header>
								</div>

								<div class="container fxg10">
									<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
								</div>

								<!-- Copyright Notice -->
								<div class="fxg1 flexrow">
									<div style="padding-left:1em">
										&copy; {{ author|e }}. All rights reserved.
									</div>
									<div style="padding-right:1em">
										Design: <a href="http://html5up.net">HTML5 UP</a></li>
									</div>
								</div>
								<!-- End Copyright Notice -->
							</section>

					</div>
				<!-- End Main -->
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>