<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

		<!-- Header -->
        <header id="header">
			<h1 id="logo"><a href="{{ navigation.link|e }}">{{ navigation.name|e }}</a></h1>
			<nav id="nav">
				<ul>
					{% for page in navigation.pages %}
					<li>
						<a href="{{ page.link|e }}">{{ page.name|e }}</a>
						{% if page.pages %}
							<ul>
								{% for subpage in page.pages %}
								<li>
									<a href="{{ subpage.link|e }}">{{ subpage.name|e }}</a>
								</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>
		<!-- End Header -->

		<!-- Main -->
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Welcome!</h2>
							<p>I am Don Willcox, a computational physicist specializing in nuclear astrophysics and high performance computing.
							   <br />
							   For more about my research, please visit my <a href="research_gallery.html">Research Gallery</a> or my <a href="visual_cv.html">CV</a>.
							   <br />
							   For more about me, simply <a href="#one" class="scrolly">read onwards</a>.
							</p>
						</header>
						<span class="image"><img src="images/willcox_lbl_hs.jpeg" alt="A photograph of my face." /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
			<!-- End Banner -->

			<!-- About -->
				<section id="one" class="spotlight style2 bottom">
					<span class="image fit main"><img src="images/2017_NERSC_Cori.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>I'm a computational physicist, specializing in high-energy astrophysics.</h2>
										<p>Most recently, I worked as a project scientist at Berkeley Lab.</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>
										My research in computational astrophysics includes algorithms for nuclear reactions, 
										solving PDEs on adaptive meshes, and neutrino quantum kinetics.
										I also develop methods for accelerating these algorithms for GPU-based supercomputers as well as ML surrogate models.
									</p>
									<p>
										Most recently, I've also worked on mesoscale atmospheric modeling as part of the Energy Research and Forecasting project.
									</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Nowadays, I'm interested in ...</p>
									<ul>
										<li>adaptively accurate methods for multiphysics modules in our large-scale codes</li>
										<li>extending our ML surrogate models for nucleosynthesis to wider thermodynamic ranges</li>
										<li>mathematical techniques for using our forward simulations to solve inverse science problems</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<a href="#banner" class="goto-prev scrolly">Previous</a>
				</section>
			<!-- End About -->
		<!-- End Main -->

		<!-- Footer -->
        <footer id="footer">
			<ul class="icons">
				{% for way in contact.types %}
				<li><a href="{{ way.link|e }}" class="{{ way.class|e }}"><span class="label">{{ way.name|e }}</span></a></li>
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; Don Willcox. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>
		<!-- End Footer -->

		</div>

		<!-- Scripts -->
		{% for script in template.scripts %}
		<script src="{{ script|e }}"></script>
		{% endfor %}
		<!-- End Scripts -->
	</body>
</html>
